@import '@fontsource-variable/google-sans-flex/wght.css';
@import '@fontsource-variable/google-sans-code/wght.css';
@import 'tailwindcss';

@theme {
	--font-sans: 'Google Sans Flex Variable', ui-sans-serif, system-ui, sans-serif;
	--font-mono: 'Google Sans Code Variable', ui-monospace, monospace;
	--color-app: oklch(97% 0.004 255deg);
	--color-app-ink: oklch(17.76% 0 none);
}

:where(html, body, button, input, textarea, select) {
	font-family: var(--font-sans);
}

:where(pre, code, kbd, samp) {
	font-family: var(--font-mono);
}
